@font-face {
    font-family: BenFont;
    src: url(../Lettertype/Ben2010-Bold.ttf);
}
@font-face {
    font-family: BenFontNormal;
    src: url(../Lettertype/Ben2010-Normal.otf);
}

body{
	margin:0;
    font-family:BenFontNormal;
}

.grid{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3.5fr 1fr;
}

	img{
		margin-top: 6px;
	}

    img:hover {
        cursor: pointer;
    }

.content {
	z-index: 2;
    display: grid;
    /*grid-template-rows: 1% 0.3fr 10fr 5fr;*/ /* DIT ZORGT VOOR ECHT VEEL RUIMTE*/
    grid-column: 1/4;
    grid-template-columns: 20% 60% 15% 5%;
    margin-top: 20px;
}

.content-gekozen{
	z-index: 2;
    display: grid;
    grid-template-rows: 1% 0.3fr 10fr; /* DIT ZORGT VOOR ECHT VEEL RUIMTE*/
    grid-column: 1/4;
    grid-template-columns: 20% 60% 15% 5%;
    margin-top: 20px;
}

.content-verlengd{
	z-index: 2;
    display: grid;
    grid-template-rows: 1% 1% 100%; /* DIT ZORGT VOOR ECHT VEEL RUIMTE*/
    grid-column: 1/4;
    grid-template-columns: 20% 60% 15% 5%;
    margin-top: 20px;
}

	.ananas{
<<<<<<< HEAD
=======
		background-image: url("../Afbeeldingen/ananas.gif");
		background-position: -40% 50%; /* horizontaal% verticaal%*/
		background-repeat: no-repeat;
		background-size: 100%;
>>>>>>> parent of b67d0b5... Ananas gif!
		grid-column: 3/4;
		grid-row:2/4;
	}

	.ananas-links{
<<<<<<< HEAD
=======
		background-image: url("../Afbeeldingen/ananas.png");
		background-position: -40% 50%; /* horizontaal% verticaal%*/
		background-repeat: no-repeat;
		background-size: 80%;
>>>>>>> parent of b67d0b5... Ananas gif!
		grid-column: 1/2;
		grid-row:2/4;
	}

	.ananas-vergelijk{
<<<<<<< HEAD
=======
		background-image: url("../Afbeeldingen/ananas.png");
		background-position:  0% 20%; /* horizontaal% verticaal%*/
		background-repeat: no-repeat;
		background-size: 80%;
>>>>>>> parent of b67d0b5... Ananas gif!
		grid-column: 1/2;
		grid-row:2/4;
	}

	.ananas-verlengd{
		background-image: url("../Afbeeldingen/ananas-gif.mp4");
		background-position:  -40% 70%; /* horizontaal% verticaal%*/
		background-repeat: no-repeat;
		background-size: 100%;
		grid-column: 3/4;
		grid-row:2/4;
	}

		.ananas-tekst{
			font-family: "Benfont", sans-serif;
			font-size: 150%;
			text-align: left;
			background-color: rgba(255,255,255,0.3);
			padding: 3%;
			border-radius: 15px;
		}

		.tekst-lijn{
			  width: 220px; 
			  height: 300px;  
			  border: solid 5px #000;
			  border-color: transparent #00AEEF transparent transparent;
			  border-radius: 50%/100px 100px 100px 0;
		}

		.tekst-lijn-vergelijk{
			  width: 250px; 
			  height: 200px;  
			  border: solid 5px #000;
			  border-color: transparent #00AEEF transparent transparent;
			  border-radius: 30%/100px 100px 100px 0;
		}

		.tekst-lijn-verlengd{
			  width: 180px; 
			  height: 200px;  
			  border: solid 5px #000;
			  border-color: transparent #00AEEF transparent transparent;
			  border-radius: 30%/100px 100px 100px 0;
		}
		
		.ben-nav, .persoonlijk-nav{
			z-index: 2;
			display: flex;
			justify-content: center;
			color: white;
			text-decoration: none;
			font-family: "Benfont", sans-serif;
			font-size: 100%;
		}

		a{
			text-decoration: none;
			color: white;
			padding: 1.2%;
		}

		.ben-nav{
			grid-row:1/2;
			background-color: #00AEEF;
		}

			#nav-zoekbalk{
				height: 80%;
			}

		.persoonlijk-nav{
			grid-row:2/3;
			background-color: black;
		}

		/*Progress bar*/

		.completed{
			background-image: url("../Afbeeldingen/check.png");
			background-color: #00AEEF;
			background-position: right;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.active{
			background-color: #00AEEF;
		}

		.inactive{
			background-color: rgba(0,0,0,0.1);
		}


		.informatie{
			grid-column: 2/3;
			grid-row:3/4;
		}

            title {
                display: flex;
                justify-content: center;
                font-family: "Benfont", sans-serif;
                font-size: 200%;
                color: #00AEEF;
                margin-bottom: 25px;
            }

				ul{
					display: flex;
					justify-content: center;
					font-family:  "Benfont", sans-serif;
				}

					li{
						margin: 0% 3%;
						padding: 1.5%;
						border-radius: 15px;
						color: white;
						font-size: 110%;
						width: 60%;
					}

						.active{
							background-color: #00AEEF;
						}

						.inactive{
							background-color: rgba(0,0,0,0.1);
						}

                            .completed {
                                background-image: url("../Afbeeldingen/check.png");
                                background-color: #00AEEF;
                                background-position: right;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

.opties{
    margin-top:50px;
	display: grid;
	grid-template-columns: 1fr 1.5fr 0.5fr 1.5fr 1fr;
	grid-template-rows: 0.3fr 3fr 1fr;
}

	.opties > div {
	    height: 340px;
	    width: 280px;
	    background-size: 60%;
	    font-family: BenFont;
	    font-size: 23px;
	    border-radius: 10px;
	    position: relative;
	}

	.sim-only{
		grid-column: 2/3;
		height: 350px;
		background-image: url("../Afbeeldingen/sim.svg");
		/*background-image: url("../Afbeeldingen/simcard-blue.svg");*/
		background-repeat: no-repeat;
		background-position: 50% 30%;
		background-size: 80%;;
		grid-row:2/3;
		/*background-color: white;*/
	}

	.sim-only span {
	    position: absolute;
	    margin-left: 95px;
	    bottom: 25px;
	}

	.toestel{
		grid-column: 4/5;
		grid-row:2/3;
		height: 350px;
		background-image: url("../Afbeeldingen/phone.svg");
		background-repeat: no-repeat;
		background-position: 50% 30%;
		background-size: 80%;;
	}

	.toestel span {
	    position: absolute;
	    margin-left: 88px;
	    bottom: 25px;
	}

		.sim-only, .toestel{
			background-color: #00AEEF;
			color: white;
		}

		.sim-only:hover,.toestel:hover{
			cursor: pointer;
		}

		/*SIM-ONLY*/

.persoonlijk {
    display: grid;
    background-color: #00AEEF;
    /*height: 60%;*/
    border-radius: 20px;
}
	.persoonlijk h1{
		display: flex;
		justify-content: center;
		font-family: "Benfont", sans-serif;
		font-size: 220%;
	}
	.persoonlijk span{
	    color: white;
	    margin: 0% 1%;
    }

	h3{
		display: flex;
		justify-content: center;
		font-family: "Benfont", sans-serif;
		text-align: bottom;
		margin-top: 110%;
		font-size: 140%;
	}

		#bentitel{
			color: white;
			margin:0% 1%;
		}

		.persoonlijk h2{
			grid-row:2/3;
			display: flex;
			justify-content: center;
			font-family: "Benfont", sans-serif;
			font-size: 120%;
			color: white;
		}

		.sim-opties{
			display: grid;
			grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
			grid-template-rows: 2fr 1fr;
			grid-row:3/4;
		}

			.sim-opties > div{
				display: grid;
				grid-template-rows: 0.3fr 0.5fr 0.1fr;
				justify-content: center;
				background-color: white;
				border: 1px solid rgba(0,0,0,0.1);
			}

				.midden{
					grid-row:2/3;
				}

				.type{
					grid-row:3/4;
				}

			.belminuten{
				grid-column: 2/3;
			}

				.belminuten h1, .prijs h1{
					color: #00AEEF;
				}

			.internet{
				grid-column: 3/4;
			}

			.prijs{
				grid-column: 4/5;
			}

			.wijzig,.kiezen{
				margin-top: 10%;
				font-size: 120%;
				font-family: "Benfont", sans-serif;
			}

			.wijzig{
				color: white;
				background-color: transparent;
				border: 2px solid white;
				border-radius: 15px;
				grid-column: 2/3;
				height: 60%;
				grid-row:2/3;
			}

				.wijzig:hover{
					transition:background-color .2s;
					transition:color .2s;
					background-color: white;
					color:black;
				}

				.wijzig-bundel-button:hover{
					transition:background-color .2s;
					transition:color .2s;
					background-color: white;
					color:black;
				}

			.kiezen{
				color: white;
				background-color: black;
				border:none;
				height: 60%;
				border-radius: 15px;
				grid-column: 4/5;
				grid-row:2/3;
			}

				.kiezen:hover{
					transition:background-color .2s;
					transition:color .2s;
					background-color: rgba(0.0.0.0.6);
					color: rgba(255,255,255,0.9);
				}

			.deslider{
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr;
				margin-top: 2%;
				grid-row:4/5;
				grid-column: 2/3;
			}

				.twee-jaar,.een-jaar,.maand{
					color: white;
					background-color: rgba(0,0,0,0.1);
					border:none;
					height: 60%;
					font-family: "Benfont", sans-serif;
					border-radius: 15px;
				}

				.twee-jaar:focus,.een-jaar:focus,.maand:focus{
					background-color: #00AEEF
				}

				.twee-jaar{
					grid-row:6/7;
					grid-column: 2/3;
				}

				.een-jaar{
					grid-row:6/7;
					grid-column: 3/4;
				}

				.maand{
					grid-row:6/7;
					grid-column: 4/5;
				}

				.slider-tekst-1,.slider-tekst-2{
					grid-column: 2/3;
				}

				.slider-tekst-1{
					grid-row:3/4;
				}

			#slider{
				opacity: 0;
			}

			.slider-waarde-links{
				grid-column: 1/2;
				grid-row:2/3;
			}

			.slider-waarde-rechts{
				grid-column: 6;
				grid-row:2/3;
			}

			.slider2-waarde-links{
				grid-column: 1;
				grid-row:4/5;
			}

			.slider2-waarde-rechts{
				grid-column: 6;
				grid-row:4/5;
			}

				.slider,.slider2{
					grid-column: 2/5;
				    -webkit-appearance: none;  /* Override default CSS styles */
				    appearance: none;
				    width: 100%; 
				    height: 2px; 
				    background: black;
				    outline: none;
				    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
				    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
				    transition: opacity .2s;
				}

				.slider{
					grid-row:2/3;
				}

				.slider2{
					grid-row:4/5;
				}

				.slider:hover,.slider2:hover {
				    opacity: 1;

				}
				.slider::-webkit-slider-thumb,.slider2::-webkit-slider-thumb {
				    -webkit-appearance: none; /* Override default look */
				    appearance: none;
				    width: 100px; /* Set a specific slider handle width */
				    height: 40px; /* Slider handle height */
				    cursor: pointer; /* Cursor on hover */
				    border-radius: 15px;
				}
				.slider::-webkit-slider-thumb{
					background: #00AEEF;
				}

				.slider2::-webkit-slider-thumb{
					background: #00AEEF;
				}

				.slider::-moz-range-thumb,.slider2::-moz-range-thumb {
				    width: 25px; /* Set a specific slider handle width */
				    height: 25px; /* Slider handle height */
				    background: #00AEEF; /* Green background */
				    cursor: pointer; /* Cursor on hover */
				}

				.deslider span{
					display: flex;
					justify-content: center;
					margin-bottom: 0 auto;
					top: -10;
					grid-column: 2/3;
				}


				/*Toestellen*/

			.toestel-bekijken{
				color: white;
				background-color: black;
				border:none;
				height: 100%;
				border-radius: 10px;
			}

				.toestel-bekijken:hover{
					transition:background-color .2s;
					transition:color .2s;
					background-color: rgba(0.0.0.0.6);
					color: rgba(255,255,255,0.9);
				}

		.toestel-opties{
			display: grid;
			grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
			grid-template-rows: 3fr 0.8fr;
			grid-row:3/4;
			height: 120%;
		}

			.toestel-opties > div{
				display: grid;
				grid-template-rows: 0.3fr 1.5fr 1.5fr;
				justify-content: center;
				background-color: white;
				border: 1px solid rgba(0,0,0,0.1);
			}

			.toestel-opties h1{
				display: flex;
				font-size: 120%;
				justify-content: center;
			}

			.toestel-opties h4{
				color: red;
				display: flex;
				font-size: 130%;
				justify-content: center;
				font-family: "Benfont", sans-serif;
			}

				.top{
					display: flex;
					font-size: 120%;
				}

			.telefoon-1,.telefoon-2,.telefoon-3{
				display: flex;
				justify-content: center;
				background-color: white;
			}

				.telefoon1-img,.telefoon2-img,.telefoon3-img{
					background-repeat: no-repeat;
					background-size:55%;
					background-position: top;
				}

				.telefoon1-img{
					background-image: url("../Afbeeldingen/Toestellen/s8.png");
				}

				.telefoon2-img{
					background-image: url("../Afbeeldingen/Toestellen/A6.png");
				}

				.telefoon3-img{
					background-image: url("../Afbeeldingen/Toestellen/p10.jpg");
				}

				.telefoon-1{
					grid-column: 2/3;
				}

				.telefoon-2{
					grid-column: 3/4;
				}

				.telefoon-3{
					grid-column: 4/5;
				}

					.toestel-bekijken{
						font-family: "Benfont", sans-serif;
						font-size: 100%;
						height: 50px;
						margin: 10% 0%;
					}

					.keuze{
						display: grid;
						grid-template-columns: 20% 80%;
						width: 100%;
						height: 100%;
						margin-top: 5%; DIT IS WEL HANDIG VOOR WAT RUIMTE 
						background-color: white;
						grid-column: 1/4;
						grid-row:4/5;
					}

						.filter{
							grid-column: 1/2;
							box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
							border-radius: 15px;
							grid-row:1/4;
						}

							.filter h1{
								display: flex;
								justify-content: center;
								font-family: "Benfont", sans-serif;
							}

							#zoek-toestel{
								width: 100%;
								height: 30px;
								background-image: url("../Afbeeldingen/search.svg"); 
								background-repeat: no-repeat;
								background-size: 8%;
								background-position: left;
							}


								.form-merk{
									position: relative;
									border-bottom: 1px solid rgba(0,0,0,0.3);
								}

								.lbl_container {
								    display: block;
								    position: relative;
								    padding-left: 35px;
								    margin-bottom: 12px;
								    margin-left:22px;
								    cursor: pointer;
								    font-size: 22px;
								    -webkit-user-select: none;
								    -moz-user-select: none;
								    -ms-user-select: none;
								    user-select: none;
								}

								    /* Hide the browser's default checkbox */
								.lbl_container input {
								    position: absolute;
								    opacity: 0;
								    cursor: pointer;
								    height: 0;
								    width: 0;
								}

								/* Create a custom checkbox */
								.checkmark {
								    position: absolute;
								    top: 0;
								    left: 0;
								    height: 20px;
								    width: 20px;
								    border: 1px solid grey;
								    border-radius: 1px;
								}

								/* On mouse-over, add a grey background color */
								.lbl_container:hover input ~ .checkmark {
								    background-color: #ccc;
								}

								/* When the checkbox is checked, add a blue background */
								.lbl_container input:checked ~ .checkmark {
								    background-color: #2196F3;
								}

								.form-ram{
									position:relative;
									/*padding: 10% 0%;*/
									border-bottom: 1px solid rgba(0,0,0,0.3);
								}

								.form-opslag{
									position:relative;
									/*padding: 10% 0%;*/
									border-bottom: 1px solid rgba(0,0,0,0.3);
								}

								.form-vier{
									position:relative;
									/*padding: 10% 0%;*/
									border-bottom: 1px solid rgba(0,0,0,0.3);
								}

								.form-vijf{
									position:relative;
									/*padding: 10% 0%;*/
									border-bottom: 1px solid rgba(0,0,0,0.3);
								}

								.samsung1-img, .samsung2-img, .samsung3-img {
								    background-repeat: no-repeat;
								    background-size:contain;
								}
								.apple1-img, .apple2-img, .apple3-img {
								    background-repeat: no-repeat;
								    background-size: contain;
								}
								.huawei1-img, .huawei2-img, .huawei3-img {
								    background-repeat: no-repeat;
								    background-size: contain;
								}

								/*Samsung toestel afbeeldingen begin*/
								.samsung1-img {
								    background-image: url("../Afbeeldingen/Toestellen/s8.png");
								    background-position: center;
								}

								.samsung2-img {
								    background-image: url("../Afbeeldingen/Toestellen/Samsung Galaxy S9.jpg");
								}

								.samsung3-img {
								    background-image: url("../Afbeeldingen/Toestellen/Samsung Galaxy Note 9.jpg");
								}

								/*Samsung toestel afbeeldingen eind*/

								/*Apple toestel afbeeldingen begin*/
								.apple1-img {
								    background-image: url("../Afbeeldingen/Toestellen/Apple Iphone 6s.png");
								}

								.apple2-img {
								    background-image: url("../Afbeeldingen/Toestellen/Apple Iphone 7.gif");
								}

								.apple3-img {
								    background-image: url("../Afbeeldingen/Toestellen/Apple Iphone Xs Max gold.jpg");
								}

								/*Apple toestel afbeeldingen eind*/

								/*Huawei toestel afbeeldingen begin*/
								.huawei1-img {
								    background-image: url("../Afbeeldingen/Toestellen/Huawei P smart.png");
								}

								.huawei2-img {
								    background-image: url("../Afbeeldingen/Toestellen/Huawei Mate 20 lite.jpeg");
								}

								.huawei3-img {
								    background-image: url("../Afbeeldingen/Toestellen/Huawei Mate 20 pro.png");
								}
								/*Huawei toestel afbeeldingen eind*/


							form{
								display: grid;
								grid-template-rows: repeat(5,20%);
							}

								fieldset{
									font-family: "Benfont", sans-serif;
									font-size: 160%;
									border:none;
									margin-bottom: -5%;
									grid-row:1/2;
								}

								#een,#twee,#drie,#vier{
									/*background-color: red;*/
									display: grid;
									grid-template-columns: 20% 70% 10%;
									height: 10%;
									/*grid-template-rows: repeat(4,1%);*/
								}

								/*DIVS RONDOMFORM INPUT CHECKBOXJES*/

								#een{
									grid-row:2/3;
									
								}

								#twee{
									grid-row:3/4;
									
								}

								#drie{
									grid-row:4/5;
									
								}



								#vier{
									grid-row:5/6;
									
								}

/*								input[type=button]:focus{
									background-color: red;
								}*/

								form > input{
									display: block;
									grid-row:1/2;
									grid-column: 1/2;
								}

								input[type=checkbox]{
								  /* Double-sized Checkboxes */
								  -ms-transform: scale(2); /* IE */
								  -moz-transform: scale(2); /* FF */
								  -webkit-transform: scale(2); /* Safari and Chrome */
								  -o-transform: scale(2); /* Opera */
								  padding: 10px;
								  margin-left: 10px;
								  margin-top: 40px;
								}

								h5{
									font-family: "BenFontNormal", sans-serif;
									grid-column: 2/3;
									font-size: 100%;
									grid-row:1/2;
								}

								h6{
									grid-column: 3/4;
									color: #00AEEF;
									grid-row:1/2;
									font-family: "Benfont", sans-serif;
									/*font-size: 100%;*/
								}

						.keuzemenu1,.keuzemenu2,.keuzemenu3{
							display: grid;
							grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
							/*grid-template-rows: 3fr 0.8fr;*/
							height: 5%;
							grid-column: 2/3;
						}

						.keuzemenu1{
							grid-row:1/2;
						}

						.keuzemenu2{
							grid-row:2/3;
						}

						.keuzemenu3{
							grid-row:3/4;
						}

							.keuzemenu1 > div, .keuzemenu2 > div, .keuzemenu3 > div{
								display: grid;
								grid-template-rows: 0.3fr 2fr 0.6fr;
								justify-content: center;
								background-color: white;
								border: 1px solid rgba(0,0,0,0.1);
							}

					/*Vergelijk*/

				.vergelijk-lijst{
					display:grid;
					height: 160vh;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					grid-template-rows: 30% 25% 25% 25% 5% 25%;
				}

				#blur{
					filter: none;
				}


				table{
					line-height: 30px;
					font-size: 110%;
					font-family: Benfont, sans-serif;
				}

				.table-container{
					grid-column: 1/5;
				}

				.table-container table {
					grid-column: 1/4;
				    font-family: arial, sans-serif;
				    border-collapse: collapse;
				}

				.table-container tr:nth-child(odd) {
				    background-color: #F7F7F7;
				}

				.table-container th{
					background-color: white;
				}

				.table-container td, .table-container th {
				    text-align: left;
				    padding: 8px;
				}


					#abonnement{
						grid-row:2/3;
					}

					#algemeen{
						grid-row:3/4;
					}

					#display{
						grid-row:4/5;
					}

					#prestaties{
						grid-row:5/6;
					}

					#onderwerp{
						background-color: #00AEEF;
						border-radius: 10px;
						width: 5%;
						font-family: "Benfont", sans-serif;
						color: white
					}

					#wat{
						color: #00AEEF;
					}

							.vergelijk-telefoon-1{
								background-image: url("../Afbeeldingen/Toestellen/s7.png");
								grid-column: 2/3;
								background-size: 55%;
								background-repeat: no-repeat;
								background-position: center;
							}

							.vergelijk-telefoon-2{
								background-image: url("../Afbeeldingen/Toestellen/s8.png");
								grid-column: 3/4;
								background-repeat: no-repeat;
								background-position: center;
							}

							#vergelijk-telefoon-3{
								display: none;
								background-image: url("../Afbeeldingen/Toestellen/iPhone-7.gif");
								grid-column: 4/5;
								background-size: 55%;
								background-repeat: no-repeat;
								background-position: center;
							}

							#plus{
								background-image: url("../Afbeeldingen/add.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: 50%;
								grid-column: 4/5;
								background-color: #00AEEF;
								height: 22%;
								width: 35%;
								align-self: center;
								border-radius: 15px;
							}

							#popup{
								display: grid;
								opacity: 0;
								position: fixed;
								bottom:-1000px;
								z-index: 2;
								width: 1000px;
								height: 0px;
								background-color: white;
								box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

							}
							#weg-popup{
								background-image: url("../Afbeeldingen/cancel.svg");
								background-color: #00AEEF;
								background-position: center;
								background-repeat: no-repeat;
								background-size: 50%;
								width: 50px;
								height: 50px;
								margin-left: 95%; /*Dit is natuurlijk niet meer recht*/
								grid-row:1/2;
							}

								#popup h1{
									font-family: "Benfont", sans-serif;
									display: flex;
									justify-content: center;
									color: #00AEEF;
								}

							.pop-up-telefoons{
								display: grid;
								grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
								grid-template-rows: 0.5fr 3fr 1fr;
								width: 100%;
								height: 70%;
							}

								.pop-up-telefoons h4{
									display: flex;
									justify-content: center;
									font-family: "Benfont", sans-serif;
									font-size: 150%;

								}

							.pop-up-telefoon-1,.pop-up-telefoon-2,.pop-up-telefoon-3{
								grid-row:2/3;
								background-size: contain;
								background-repeat: no-repeat;
								background-position: top;
								/*border: 1px solid rgba(0,0,0,0.1);*/
							}

							.pop-up-tekst-1,.pop-up-tekst-2,.pop-up-tekst-3{
								grid-row:3/4;
							}

							.pop-up-tekst-1{
								grid-column: 2/3;
							}

							.pop-up-tekst-2{
								grid-column: 3/4;
							}

							.pop-up-tekst-3{
								grid-column: 4/5;
							}

							.pop-up-telefoon-1{
								background-image: url("../Afbeeldingen/Toestellen/P10.jpg");
								grid-column:2/3;
							}

							.pop-up-telefoon-2{
								background-image: url("../Afbeeldingen/Toestellen/iPhone-7.gif");
								grid-column:3/4;
							}

							.pop-up-telefoon-3{
								background-image: url("../Afbeeldingen/Toestellen/iPhone-6s.png");
								grid-column:4/5;
							}

							#kiestelefoon1,#kiestelefoon2,#kiestelefoon3{
									color: white;
									background-color: black;
									border:none;
									height: 20%;
									margin-bottom: 15%;
									border-radius: 20px;
									font-family: "Benfont", sans-serif;
									font-size: 100%;
							}

							#kiestelefoon1:hover,#kiestelefoon2:hover,#kiestelefoon3:hover{
									color: rgba(255,255,255,0.9);
									background-color: rgba(0,0,0,0.9);
							}

							.vergelijk-toestel-naam{
								font-family: "Benfont", sans-serif;
								font-size: 120%;
								/*box-shadow: 3px 3px 3px rgba(0,0,0,0.1);*/
							}

							#kiestelefoon1{
								grid-row:6/7;
								grid-column: 2/3;
							}

							#kiestelefoon2{
								grid-row:6/7;
								grid-column: 3/4;
							}
							#kiestelefoon3{
								display: none;
								grid-row:6/7;
								grid-column: 4/5;
							}

					/*GEKOZEN*/

				.gekozen-abonnement{
                    display: grid;
                    grid-template-columns: 30% 40% 30%;
                    grid-template-rows: 80% 20%;
                    background-color: #00AEEF;
                    height: 50%;
                    border-radius: 20px; 
                }

    	           	.gekozen-abonnement h1{
    	           		grid-column: 2/3;
    	           		grid-row:1/2;
    	           		justify-content: left;
    	           	}

    	           	.gekozen-abonnement h2{
    	           		grid-column: 3/3;
    	           		grid-row:2/2;
    					font-family: "Benfont", sans-serif;
    	           		color: white;
    	           	}

    	           	.gekozen-telefoon{
    	           		background-image: url("../Afbeeldingen/Toestellen/s8.png");
    	           		grid-column: 1/2;
    	           		grid-row:1/2;
    	           		background-position: center;
    	           		background-repeat: no-repeat;
    	           		background-size: contain;
    	           		height: 250px;
    	           		margin-top: 10%;
    	           	}

                	.gekozen-wijzig,.gekozen-kiezen{
                		font-family: "Benfont", sans-serif;
                		font-size: 110%;
                		height: 80%;
						margin:0% 10%;
						border-radius: 15px;
						grid-row:2/3;
                	}

                	.gekozen-wijzig{
						color: white;
						background-color: transparent;
						border: 2px solid white;
						grid-column: 1/2;
					}

						.gekozen-wijzig:hover{
							transition:background-color .2s;
							transition:color .2s;
							background-color: white;
							color:black;
						}

					.gekozen-kiezen{
						color: white;
						background-color: black;
						border:none;
						grid-column: 3/4;
					}

						.gekozen-kiezen:hover{
							transition:background-color .2s;
							transition:color .2s;
							background-color: rgba(0.0.0.0.6);
							color: rgba(255,255,255,0.9);
						}

						/*CONTROLE*/ 

                	.controle-secties{
                		display: grid;
                		grid-template-columns: 48% 2% 48%;
                	}

	                	.jouw-gegevens,.bestelling{
	                		margin-top: 10%;
	                		display: grid;
	                		grid-template-columns: 10% 50%;
	                		box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
	                		padding: 3%;
	                	}

	                	.bestelling{
	                		grid-template-rows: 60 25% 15%;
	                	}

	                	#bestelling-prijs{
	                		font-family: "Benfont", sans-serif;
	                		color: #00AEEF;
	                		grid-row:3/4;
	                		grid-column: 2/4;
	                	}

	                	.bestelling-toestel{
	                		/*background-image: url("../Afbeeldingen/Toestellen/s8.png");*/
	                		height: 60%;
	                		/*background-position: center;*/
							/*background-repeat: no-repeat;*/
	                		/*background-size: 80%;				                		*/
	                		grid-column: 2/2;
	                		grid-row:2/2;
	                	}

	                	.jouw-gegevens h1,.bestelling h1{
	                		font-family: "Benfont", sans-serif;
	                		grid-column:2/3;
	                		color: #00AEEF;
	                		font-size: 140%;
	                		justify-content: left;
	                		grid-row:1/2;
	                	}

	                	#controle-links{
	                		font-family: "Benfont", sans-serif;
	                		font-size: 100%;
	                		grid-column:2/3;
	                		justify-content: left;
	                	}

	                	#controle-rechts,#controle-gegevens-rechts{
	                		grid-column: 3/4;
	                		font-family: "Benfont", sans-serif;
	                		font-size: 100%;
	                		justify-content: left;
	                	}

	                	#controle-gegevens-rechts{
	                		font-family: "Benfont", sans-serif;
	                		font-size: 80%;
	                		/*color: #00AEEF;*/
	                		grid-row:2/2;
	                		/*line-height: 30px;*/
	                		/*margin: 10% 0%;*/
	                	}

	                	.jouw-gegevens{
	                		grid-column: 1/2;
	                	}

	                	.bestelling{
	                		grid-column: 3/4;
	                	}

	                	.buttons{
	                		display: grid;
	                		grid-template-columns:30% 5% 30% 5% 30%;
	                		height: 30%;
	                		grid-template-rows: 30% 25% 30%;
	                	}

	                		.terug-button,.wijzig-button,.bevestig-button{
	                			border-radius: 15px;
	                		}

	                		.terug-button{
	                			font-family: "Benfont", sans-serif;
	                			font-size: 110%;
	                			grid-column: 1/2;
	                			grid-row: 2/3;
	                			color: black;
	                			width: 60%;
	                			background-color: transparent;
	                			border: 2px solid black;
	                		}

	                		.wijzig-button{
	                			font-family: "Benfont", sans-serif;
	                			font-size: 110%;
	                			grid-column: 3/4;
	                			grid-row: 2/3;
	                			color: black;
	                			background-color: transparent;
	                			border: 2px solid black;
	                		}

	                		.bevestig-button{
	                			font-family: "Benfont", sans-serif;
	                			font-size: 110%;
	                			grid-column: 3/4;
	                			grid-row: 2/3;
	                			color: white;
	                			background-color: black;
	                			border:none;
	                			grid-column: 5/6;
	                		}

	                		.terug-button:hover,.wijzig-button:hover,.terug-index:hover{
								transition:background-color .2s;
								transition:color .2s;
								background-color: black;
								color: white;
							}

		                	.bevestig-button:hover{
								transition:background-color .2s;
								transition:color .2s;
								background-color: rgba(0.0.0.0.6);
								color: rgba(255,255,255,0.9);
							}

							/*VERLENGD*/

						.blue{
							color: #00AEEF;
							margin:0% 2%;
						}

						.confetti{
							z-index: 0;
							background-image: url("../Afbeeldingen/confetti.png");
							position: absolute;
							width: 100%;
							height: 100%;
							/*top:20;*/
							left: 0;
							background-position: center;
							background-repeat: repeat;
							animation-name: confetti;
							animation-duration: 3s;
						}

							@keyframes confetti {
							    0% {height:100%}
							    100% {height:200%;}
							    
							}

						.terug-index{
	                			font-family: "Benfont", sans-serif;
	                			font-size: 110%;
	                			grid-column: 1/2;
	                			grid-row: 2/3;
	                			color: black;
	                			background-color: white;
	                			border: 2px solid black;
	                			border-radius: 15px;
	                		}
	           
	                .bedankje{
	                	display: grid;
	                	grid-template-columns: 1fr 3fr 1fr;
	                	background-color: rgba(255,255,255,0.3);
	                }

	                .bedankje h1, .bedankje h2{
	                	justify-content: left;
	                	grid-column: 2/3;
	                }

	                .bedankje h1{
	                	font-family: "Benfont", sans-serif;
	                	line-height: 10px;
	                }

	                 .bedankje h2{
	                 	font-family: "BenfontnNormal", sans-serif;
	                 	line-height: 30px;
	                 	font-size: 130%;
	                 }